.mod-index{
  .slider-decorator-0{
    bottom: 10px !important;
  }
  .sign-box{
    .panel-box{
      position: relative;
      display: flex;
      justify-content:flex-end;
      align-items: center;
      padding: 1rem 0.5rem;
    }
    .info{
      flex: 1;
      h4{
        font-size: 0.8rem;
        font-weight: normal;
        .val{
          font-size: 0.8rem;
          font-weight: bold;
          color: #d33a31;
        }
      }
      p{
        padding-top: 0.4rem;
        color: #999;
        i{
          display: inline-block;
          vertical-align: middle;
          margin-top: -0.1rem;
        }
      }
    }
    .sign{
      width: 3.6rem;
      height: 1.4rem;
      line-height: 1.4rem;
      font-size: 0.65rem;
      color: #d33a31;
      border: 1px solid #d33a31;
      text-align: center;
      border-radius: 1rem;
      &.over{
        color: #999;
        border-color: #999;
      }
    }
  }
}
