// body{
//   background-color: #fff !important;
// }
.lists{
  padding-bottom: 1rem;
  background: #fff;
  .search-bar{
    padding: 0.5rem;
    .inputwrap{
      position: relative;
      width: 100%;
      height: 1.5rem;
      box-sizing: border-box;
      border-radius: 0.8rem;
      background: #f2f2f2;
      .icon-sousuo1{
        position: absolute;
        left: 0.5rem;
        top: 0.25rem;
        color: #b3b3b3;
      }
      .btn-clear{
        position: absolute;
        right: 0.5rem;
        top: 0.25rem;
        width: .85rem;
        height: .85rem;
        line-height: .85rem;
        text-align: center;
        background: #ccc;
        border-radius: 1.8rem;
        .icon-close{
          color: #fff;
          font-size: 0.6rem;
        }
      }
      input{
        width: 100%;
        padding: 0.5rem 1.6rem;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.65rem;
        box-sizing: border-box;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
      }
    }
  }
  .chengVal{
    position: absolute;
    top: 2.5rem;
    bottom: 0;
    box-sizing: border-box;
    padding-left: 0.5rem;
    width: 100%;
    // height: 100vh;
    background: #fff;
    z-index: 11;
    a{
      display: block;
      padding: 0.5rem 0;
      font-size: 0.7rem;
      color: #507daf;
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    }
  }
}
.filter{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  ul{
    height: 2rem;
    display: flex;
    align-items:center;
    border-bottom: 1px solid #eee;
  }
  li{
    font-size: 0.7rem;
    flex: 1;
    text-align: center;
    span{
      &.active{
        color: #d33a31;
      }
      .arr{
        display: inline-block;
        padding-left: 0.2rem;
        vertical-align: middle;
        i{
          display: block;
          width: 0;
          height: 0;
          margin: 2px 0;
          border: 5px solid;
          &:first-of-type{
            border-color: transparent transparent #ccc;
            &.cur{
              border-color: transparent transparent #d33a31;
            }
          }
          &:last-of-type{
            border-color: #ccc transparent transparent;
            &.cur{
              border-color: #d33a31 transparent transparent;
            }
          }
          
        }
      }
    }
  }
}
.list-warp{
  padding-top: 1rem;
  padding-left: 0.5rem;
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      width: 50%;
    }
  }
  .item{
    display: block;
    padding-left: 0.2rem;
    padding-right: 0.5rem;
    .pic{
      position: relative;
      img{
        width: 100%;
      }
      .buying{
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.3rem;
        text-align: center;
        font-size: 0.5rem;
        color: #fff;
        background: #d33a31;
        opacity: 0.9;
        line-height: 1.1;
        -webkit-transform: scale(0.8);
        p{
          color: #fff;
          &.cost{
            opacity: .8;
          }
        }
      }
    }
    .name{
      margin: 0.3rem 0;
      height: 2.2rem;
      font-size: 0.65rem;
      line-height: 1rem;
      font-weight: normal;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      .tag{
        position: relative;
        top: -1px;
        margin-right: .3rem;
        margin-left: 0.15rem;
        font-size: 12px;
        color: #d33a31;
        &:after{
          position: absolute;
          z-index: 10;
          content: '';
          top: 0;
          left: -5%;
          width: 220%;
          height: 200%;
          pointer-events: none;
          -ms-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transform: scale(0.5);
          transform: scale(0.5);
          -webkit-transform-origin: top left;
          transform-origin: top left;
          border: 1px solid #d33a31;
        }
      }
    }
    p{
      font-size: 0.7rem;
      color: #d33a31;
      text-align: center;
    }
  }
}